Resources:
  QuickSightPolicy:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      ManagedPolicyName: QuickSightDemoAthenaS3Policy
      PolicyDocument:
        Statement:
          - Action:
              - s3:ListAllMyBuckets
            Effect: Allow
            Resource:
              - arn:aws:s3:::*
          - Action:
              - s3:ListBucket
            Effect: Allow
            Resource:
              - arn:aws:s3:::mybucket
          - Action:
              - s3:GetObject
              - s3:List*
            Effect: Allow
            Resource:
              - arn:aws:s3:::mybucket/tables/*
          - Action:
              - s3:GetObject
              - s3:List*
              - s3:AbortMultipartUpload
              - s3:PutObject
            Effect: Allow
            Resource:
              - arn:aws:s3:::mybucket/athena-results/*
        Version: "2012-10-17"
      Roles:
        - aws-quicksight-service-role-v0
        - aws-quicksight-s3-consumers-role-v0
    Metadata:
      aws:cdk:path: QsStack/QuickSightPolicy
  Workgroup:
    Type: AWS::Athena::WorkGroup
    Properties:
      Name: athena-titanic-wg
      RecursiveDeleteOption: true
      WorkGroupConfiguration:
        ResultConfiguration:
          EncryptionConfiguration:
            EncryptionOption: SSE_S3
          OutputLocation: s3://mybucket/athena-results/
    Metadata:
      aws:cdk:path: QsStack/Workgroup
  AthenaDataSource:
    Type: AWS::QuickSight::DataSource
    Properties:
      AwsAccountId:
        Ref: AWS::AccountId
      DataSourceId: athena-titanic
      DataSourceParameters:
        AthenaParameters:
          WorkGroup: athena-titanic-wg
      Name: athena-titanic
      Permissions:
        - Actions:
            - quicksight:DescribeDataSource
            - quicksight:DescribeDataSourcePermissions
            - quicksight:PassDataSource
          Principal:
            Fn::Join:
              - ""
              - - "arn:aws:quicksight:"
                - Ref: AWS::Region
                - ":"
                - Ref: AWS::AccountId
                - :user/default/jayro
      SslProperties:
        DisableSsl: false
      Type: ATHENA
    DependsOn:
      - QuickSightPolicy
    Metadata:
      aws:cdk:path: QsStack/AthenaDataSource
  Datasetathenatitanic:
    Type: AWS::QuickSight::DataSet
    Properties:
      AwsAccountId:
        Ref: AWS::AccountId
      DataSetId: athena-titanic-ds
      ImportMode: SPICE
      Name: athena-titanic-ds
      Permissions:
        - Actions:
            - quicksight:DescribeDataSet
            - quicksight:DescribeDataSetPermissions
            - quicksight:PassDataSet
            - quicksight:DescribeIngestion
            - quicksight:ListIngestions
          Principal:
            Fn::Join:
              - ""
              - - "arn:aws:quicksight:"
                - Ref: AWS::Region
                - ":"
                - Ref: AWS::AccountId
                - :user/default/jayro
      PhysicalTableMap:
        athena-titanic-table:
          RelationalTable:
            Catalog: AWSDataCatalog
            DataSourceArn:
              Fn::GetAtt:
                - AthenaDataSource
                - Arn
            InputColumns:
              - Name: Survived
                Type: INTEGER
              - Name: Pclass
                Type: INTEGER
              - Name: Name
                Type: STRING
              - Name: Sex
                Type: STRING
              - Name: Age
                Type: DECIMAL
              - Name: Siblings/Spouses Aboard
                Type: INTEGER
              - Name: Parents/Children Aboard
                Type: INTEGER
              - Name: Fare
                Type: DECIMAL
            Name: titanic
            Schema: santander
    Metadata:
      aws:cdk:path: QsStack/Dataset-athena-titanic
  Datasetathenatitanicsql:
    Type: AWS::QuickSight::DataSet
    Properties:
      AwsAccountId:
        Ref: AWS::AccountId
      DataSetId: athena-titanic-sql-ds
      ImportMode: SPICE
      Name: athena-titanic-sql-ds
      Permissions:
        - Actions:
            - quicksight:DescribeDataSet
            - quicksight:DescribeDataSetPermissions
            - quicksight:PassDataSet
            - quicksight:DescribeIngestion
            - quicksight:ListIngestions
          Principal:
            Fn::Join:
              - ""
              - - "arn:aws:quicksight:"
                - Ref: AWS::Region
                - ":"
                - Ref: AWS::AccountId
                - :user/default/jayro
      PhysicalTableMap:
        athena-titanic-table-sql:
          CustomSql:
            Columns:
              - Name: Survived
                Type: INTEGER
              - Name: Name
                Type: STRING
              - Name: Sex
                Type: STRING
              - Name: Related
                Type: INTEGER
            DataSourceArn:
              Fn::GetAtt:
                - AthenaDataSource
                - Arn
            Name: titanic-sql
            SqlQuery: "

              \            SELECT

              \                Survived,

              \                Name,

              \                Sex,

              \                \"Siblings/Spouses Aboard\"+\"Parents/Children Aboard\" AS Related

              \            FROM santander.titanic

              \        "
    Metadata:
      aws:cdk:path: QsStack/Dataset-athena-titanic-sql
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Analytics: v2:deflate64:H4sIAAAAAAAA/z2JQQ6CMBAA38K9rKDGD2DiyYTAwaNZS4W1sNV2G0MIfxdi9DSZmS3k2R6yBN8h1Y1Ne7rBVAtqq5Z0nQgHKO58RsbWNKXrSY8KpTOMa784b0/exad6RdI2UNsJTMs4omDtotdG/czIPK9SmfAfheOGhBzPqhylc7zZQZ7DIXkEotRHFhoMVF9+AFbf1x6sAAAA
    Metadata:
      aws:cdk:path: QsStack/CDKMetadata/Default
    Condition: CDKMetadataAvailable
Conditions:
  CDKMetadataAvailable:
    Fn::Or:
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - af-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-northwest-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-3
          - Fn::Equals:
              - Ref: AWS::Region
              - me-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - sa-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-2
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-2
Parameters:
  BootstrapVersion:
    Type: AWS::SSM::Parameter::Value<String>
    Default: /cdk-bootstrap/hnb659fds/version
    Description: Version of the CDK Bootstrap resources in this environment, automatically retrieved from SSM Parameter Store. [cdk:skip]
Rules:
  CheckBootstrapVersion:
    Assertions:
      - Assert:
          Fn::Not:
            - Fn::Contains:
                - - "1"
                  - "2"
                  - "3"
                  - "4"
                  - "5"
                - Ref: BootstrapVersion
        AssertDescription: CDK bootstrap stack version 6 required. Please run 'cdk bootstrap' with a recent version of the CDK CLI.

